.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    content: '“';
    position: absolute;
    font-size: 10em;
    color: #bbb;
    line-height: .8;
}

.citacao-bio > p {
    position: relative;
}

.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: white;
}

.habilidades thead th {
    /* Não precisamos colocar font-weight e color
    pois já fizemos isso para todos os th. */
    background-color: #3C1D3D;
}

.habilidades td {
    background-color: #eee;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades {
    /* Não colapsa as bordas adjacentes. */
    border-collapse: separate;
    /* Espaçamento entre as células. */
    border-spacing: .25em;
}

.habilidades {
    margin: 1em 0;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}

.habilidades [rowspan] {
    vertical-align: middle;
}

.citacao-bio {
    transition: box-shadow 1s, transform 1s;
    /* Vale quando o usuário parou de interagir. */
    transition-delay: 1s, 0s;
}

.citacao-bio:hover,
.citacao-bio:focus {
    /* Vale quando o usuário começou a interagir. */
    transition-delay: 0s, 1s;
}