/* Podemos usar um seletor de atributo para selecionar
   apenas a legenda desse campo e não dos outros. */
legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}

/* As tags <label> que têm o atributo "for" são
   os rótulos dos campos sem ser os assuntos. */
label[for] {
    display: block;
}

/* Selecionamos apenas os campos de texto. */
input[type="text"],
input[type="email"],
textarea {
    /* Força o navegador a usar a mesma fonte da página. */
    font-family: inherit;
    /* Inclusive o tamanho dela. */
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/* Alguns ajustes para o campo "Outro": deixar ele na mesma linha dos outros assuntos. */
fieldset > fieldset {
    display: inline;
}

/* Deixar o rótulo dele inline de novo. */
label[for="outro"] {
    display: inline;
}

/* Deixar só esse campo sem ocupar a tela toda. */
input[name="outro-assunto"] {
    width: auto;
}

input:focus,
textarea:focus {
    background-color: #FFD;
}

input:invalid {
    box-shadow: 0 0 3px red;
}

button {
    /* Precisamos tirar a borda que o navegador coloca por padrão. */
    border: 0;
    padding: .5em 1em;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #3C1D3D;
    color: white;
    font-size: 1.2em;
    /* Faz com que o botão apareça na direita. */
    float: right;
    margin-top: 1em;
}

button:hover,
button:focus {
    background-color: #8C1D3D;
}

input[value="Outro"] ~ input {
    display: none;
}

input[value="Outro"]:checked ~ input {
    display: inline;
}