.foto-home {
    height: 200px;
    border-radius: 50%;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    -webkit-transform: rotate(-5deg) skew(-10deg);
            transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}
.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
    text-shadow: 2px 2px #000;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    background-image: linear-gradient(135deg,
        transparent,
        transparent 14px,
        rgba(0, 0, 0, 0.1) 14px,
        rgba(0, 0, 0, 0.1) 15px,
        transparent 15px,
        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    background-image: linear-gradient(45deg,
                        transparent,
                        transparent 14px,
                        rgba(255, 255, 255, 0.1) 14px,
                        rgba(255, 255, 255, 0.1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
html,body {
    overflow-x: hidden;
    height: 100%;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: (255, 127, 127, 0.5);
    position: absolute;
}

.eficiencia {
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
    opacity: .3;
}

.boas-praticas {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}

.codigo-limpo {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}

.css3 {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}

.html5 {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}

.javascript {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
    opacity: .3;
}

.acessibilidade {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}

.responsivo {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}

.otimizacoes {
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}

.agilidade {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}

.design {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}

.blog {
    position: relative;
}

.blog .inicio-post {
    display: none;
    position: absolute;
    top: 6em;
    height: 7em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
}

.blog .mais-recente {
    /*background-color: #F2FFFC;*/
}

.blog .mais-recente a {
    color: #F26;
}

.blog li {
    width: 30%;
}

.banner-twitter {
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;


    position: absolute;
    top: 0;
    right: 0;
    /* largura = 14em */
    /* altura = 3.5em */
    /* tx = .707 * h - .707 * w + w */
    /* ty = -.707 * h */
    transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
    /*-webkit-transform: translate(6.5765em, -2.4745em) rotate(45deg);*/
            /*transform: translate(6.5765em, -2.4745em) rotate(45deg);*/
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}

.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.palavras-home li {
    font-size: 400%;
}

.titulo-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}

.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}

.blog a:hover,
.blog a:focus {
    background-color: #F2FFFC;
    color: #F26;
}

.botao-index:focus,
.botao-index:hover {
    background-color: #C54974;
    color: white;
    box-shadow: 0 0 1em #FA9;
}

.botao-index {
    text-decoration: none;
    transition: .5s;
}

.palavras-home {
    animation: aparece 2s;
}
@keyframes aparece {
    /* Podemos usar a palavra-chave "from" também no lugar de 0%. */
    0% {
        opacity: 0;
        transform: scale(0.001);
    }
}

.banner-twitter {
    animation: aparece 0.5s;
    animation-delay: 2s;
    /* Estilo é aplicado antes da animacao comecar. */
    animation-fill-mode: backwards;
}

.saudacao em {
    animation: flutua 1s infinite;
    animation-direction: alternate;
    /* Suaviza a animacao no comeco e no final. */
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}

.saudacao:hover em {
    animation-play-state: paused;
}