.portfolio li {
    /*display: inline-block;*/
    border: .5em solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.portfolio img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.portfolio li:first-child {
    flex-basis: 100%;
}

/* Iniciando flexbox e com quebra de linha. */
.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio li {
    /* Não precisamos mais do display: inline-block aqui. */
    flex: 1 1 45%;
}