body {
    background-color: #F2FFFC;
}

h1 {
    background-color: rgb(133, 25, 68);
    color: #FFF;
    text-align: center;
}

h1, h2 {
    font-family: "Arial", sans-serif;
}

p {
    text-align: justify;
    font-family: "Times New Roman", serif;
}